<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>前端</title>
    <link rel="stylesheet" href="../css/base.css">
    <link rel="stylesheet" href="../css/frontEnd.css">
</head>
<body>
    <!-- 就业课 -->
    <div class="job">
        <h1>就业班</h1>
        <div class="pic">
            web前端在线就业班
        </div>
    </div>
    <!-- 提高课 -->
    <div class="boost">
        <h1>提高课</h1>
        <div class="goods">
            <dd>
                <a href="javascript:;">微信小程序</a>
                <a href="javascript:;">深入探索js</a>
            </dd>
            <dd>
                <a href="javascript:;">node.js</a>
                <a href="javascript:;">bootstrap</a>
            </dd>
            <dd>
                <a href="javascript:;">vue.js</a>
                <a href="javascript:;">微信小程序</a>
            </dd>
            <dd>
                <a href="javascript:;">深入探索js</a>
                <a href="javascript:;">node.js</a>
            </dd>
            <dd>
                <a href="javascript:;">bootstrap</a>
                <a href="javascript:;">vue.js</a>
            </dd>
            <dd>
                <a href="javascript:;">微信小程序</a>
                <a href="javascript:;">深入探索js</a>
            </dd>
            <dd>
                <a href="javascript:;">node.js</a>
                <a href="javascript:;">bootstrap</a>
            </dd>
            <dd>
                <a href="javascript:;">vue.js</a>
                <a href="javascript:;">微信小程序</a>
            </dd>
            <dd>
                <a href="javascript:;">深入探索js</a>
                <a href="javascript:;">node.js</a>
            </dd>
        </div>
    </div>
</body>
</html>