@font-face {
  font-family: "iconfont"; /* Project id 3771912 */
  src: url('iconfont.woff2?t=1675858409431') format('woff2'),
       url('iconfont.woff?t=1675858409431') format('woff'),
       url('iconfont.ttf?t=1675858409431') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-iconsearch:before {
  content: "\e608";
}

.icon-category:before {
  content: "\e627";
}

.icon-home1:before {
  content: "\eb49";
}

