<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>分类</title>
    <link rel="stylesheet" href="./css/base.css">
    <link rel="stylesheet" href="./fonts/font_3771912_sbd2h6t609k/iconfont.css">
    <link rel="stylesheet" href="./css/category.css">
</head>

<body>
    <!-- 头部 -->
    <div class="header">
        <div class="log">
            <img src="./images/logo.png" alt="">
        </div>
        <h1> 课 程 分 类</h1>
    </div>

    <!-- 主体区域 -->
    <div class="main">
        <!-- 侧边栏 -->
        <div class="sidebar">
            <ul>
                <li class="active"><a href="./fm/frontEnd.html" target="fm">前端</a></li>
                <li><a href="./fm/1.html" target="fm">微信小程序</a></li>
                <li><a href="./fm/2.html" target="fm">Vue.js</a></li>
                <li><a href="./fm/3.html" target="fm">移动Web开发</a></li>
                <li><a href="./fm/4.html" target="fm">bootstrap</a></li>
                <li><a href="./fm/5.html" target="fm">Nood.js</a></li>
            </ul>

        </div>
        <!-- 内容区域 -->
        <div class="mainBody">
            <iframe name="fm" src="./fm/frontEnd.html" frameborder="0"></iframe>
        </div>



    </div>




    <!-- 底部区域 -->
    <div class="footer">
        <div class="homePage">
            <i class="iconfont icon-home1"></i>
            <p>首页</p>
        </div>
        <div class="catePage">
            <i class="iconfont icon-category"></i>
            <p>分类</p>
        </div>
    </div>

    <script src="../node_modules/jquery/dist/jquery.min.js"></script>
    <script src="../web.js"></script>

</html>