<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>首页</title>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="./css/base.css">
    <link rel="stylesheet" href="./css/index.css">
</head>

<body>
    <!-- 头部区域 -->
    <div class="header">
        <div class="mail">
            <img src="./images/邮件.png" alt="">
        </div>
        <div class="log">
            <img src="./images/headerLogo.png" alt="">
        </div>
        <div class="search">
            <img src="" alt="">
        </div>
    </div>
    <!-- banner图 -->
    <div class="banner">
        <img src="./images/FE.png" alt="">
    </div>
    <!-- 主体区域 -->
    <div class="main">

        <!-- 就业课区域 -->
        <div class="jobCourse">
            <!-- 标题 -->
            <div class="title">
                &nbsp&nbsp就业课&nbsp&nbsp
            </div>
            <!-- 课程列表 -->
            <div class="courseList">
                <ul>
                    <li>
                        <img src="./images/fe-list.png" alt="">
                    </li>
                    <li>
                        <img src="./images/java.png" alt="">
                    </li>
                    <li>
                        <img src="./images/data.png" alt="">
                    </li>
                    <li>
                        <img src="./images/js.jpg" alt="">
                    </li>
                    <li>
                        <img src="./images/ui.png" alt="">
                    </li>
                    <li>
                        <img src="./images/fe-list.png" alt="">
                    </li>
                </ul>

            </div>
        </div>

        <!-- 微课 -->
        <div class="wcCourse">
            <!-- 标题 -->
            <div class="title">
                &nbsp&nbsp就业课&nbsp&nbsp
            </div>
            <!-- 课程列表 -->
            <div class="goods">
                <ul>
                    <li>
                        <div class="pic">
                            <img src="./images/js.jpg" alt="">
                        </div>
                        <div class="text">
                            【前端】 微信小程序
                        </div>
                        <div class="data">
                            <p class="study"><span>20</span>人学习</p>
                            <p class="money"> ￥<span>199</span></p>
                        </div>
                    </li>
                    <li>
                        <div class="pic">
                            <img src="./images/js.jpg" alt="">
                        </div>
                        <div class="text">
                            【前端】 微信小程序
                        </div>
                        <div class="data">
                            <p class="study"><span>20</span>人学习</p>
                            <p class="money">￥<span>199</span></p>
                        </div>
                    </li>
                    <li>
                        <div class="pic">
                            <img src="./images/js.jpg" alt="">
                        </div>
                        <div class="text">
                            【前端】 微信小程序
                        </div>
                        <div class="data">
                            <p class="study"><span>20</span>人学习</p>
                            <p class="money">￥<span>199</span></p>
                        </div>
                    </li>
                    <li>
                        <div class="pic">
                            <img src="./images/js.jpg" alt="">
                        </div>
                        <div class="text">
                            【前端】 微信小程序
                        </div>
                        <div class="data">
                            <p class="study"><span>20</span>人学习</p>
                            <p class="money">￥<span>199</span></p>
                        </div>
                    </li>

                </ul>
            </div>
        </div>
    </div>

    <!-- 底部区域 -->

    <script src="../node_modules/jquery/dist/jquery.min.js"></script>
</body>

</html>