body {
  padding-left: 18px;
  background-color: #fff;
}
.job h1 {
  margin: 12px 0;
  font-size: 18px;
  color: #28abfc;
}
.job .pic {
  width: 100%;
  height: 86px;
  background: url(../images/web_fe.png) no-repeat;
  color: #fff;
  text-align: center;
  line-height: 86px;
  font-size: 20px;
}
.boost h1 {
  margin: 10px 0 15px;
  font-size: 18px;
  color: #28abfc;
}
.boost .goods dd a {
  display: inline-block;
  height: 36px;
  padding: 0 20px;
  margin-right: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  line-height: 36px;
  font-size: 14px;
  color: #c0c0c0;
}
